<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lets.platform.customize.service.dao.CollDeviceComprehensiveEfficiencyMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lets.platform.model.collection.entity.CollDeviceComprehensiveEfficiency">
        <result column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_user_name" property="updateUserName"/>
        <result column="tenancy_id" property="tenancyId"/>
        <result column="current_date_int" property="currentDateInt"/>
        <result column="device_id" property="deviceId"/>
        <result column="device_code" property="deviceCode"/>
        <result column="device_name" property="deviceName"/>
        <result column="device_type_id" property="deviceTypeId"/>
        <result column="device_type_name" property="deviceTypeName"/>
        <result column="device_model_id" property="deviceModelId"/>
        <result column="device_model_name" property="deviceModelName"/>
        <result column="factory_mode_id" property="factoryModeId"/>
        <result column="factory_mode_code" property="factoryModeCode"/>
        <result column="factory_mode_name" property="factoryModeName"/>
        <result column="shift_id" property="shiftId"/>
        <result column="shift_name" property="shiftName"/>
        <result column="shift_total_hour" property="shiftTotalHour"/>
        <result column="yield" property="yield"/>
        <result column="idle_duration" property="idleDuration"/>
        <result column="running_duration" property="runningDuration"/>
        <result column="fault_duration" property="faultDuration"/>
        <result column="shutdown_duration" property="shutdownDuration"/>

        <result column="idle_duration_day" property="shutdownDurationDay"/>
        <result column="running_duration_day" property="shutdownDurationDay"/>
        <result column="fault_duration_day" property="shutdownDurationDay"/>
        <result column="shutdown_duration_day" property="shutdownDurationDay"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">

                id,
                create_time,
                create_user,
                create_user_name,
                update_time,
                update_user,
                update_user_name,
                tenancy_id,
                current_date_int, device_id, device_code, device_name, device_type_id, device_type_name, device_model_id, device_model_name, factory_mode_id,
                    factory_mode_code, factory_mode_name, shift_id, shift_name, shift_total_hour, yield, idle_duration, running_duration,
                    fault_duration, shutdown_duration, warn_record_count,idle_duration_day,running_duration_day,fault_duration_day,shutdown_duration_day

    </sql>
    <sql id="Custom_Column_List">

                id,
                create_time,
                create_user,
                create_user_name,
                update_time,
                update_user,
                update_user_name,
                tenancy_id,
                current_date_int, device_id, device_code, device_name, device_type_id, device_type_name, device_model_id, device_model_name, factory_mode_id,
                    factory_mode_code, factory_mode_name, shift_id, shift_name,
                    sum(ifnull(load_time, 0)) load_time,
                    sum(ifnull(shift_total_hour, 0)) shift_total_hour,
                    sum(ifnull(yield, 0)) yield,
                    sum(ifnull(idle_duration, 0)) idle_duration,
                    sum(ifnull(running_duration, 0)) running_duration,
                    sum(ifnull(fault_duration, 0)) fault_duration,
                    sum(ifnull(shutdown_duration, 0)) shutdown_duration,
                    sum(ifnull(warn_record_count, 0)) warn_record_count,
                    ifnull(idle_duration_day, 0) idle_duration_day,
                    ifnull(running_duration_day, 0) running_duration_day,
                    ifnull(fault_duration_day, 0) fault_duration_day,
                    ifnull(shutdown_duration_day, 0) shutdown_duration_day

    </sql>
    <select id="findPage" resultType="com.lets.platform.model.collection.entity.CollDeviceComprehensiveEfficiency">
        select
        <include refid="Custom_Column_List"/>
        from coll_device_comprehensive_efficiency
        ${ew.customSqlSegment}
    </select>

    <select id="findPageByDevice"
            resultType="com.lets.platform.model.collection.entity.CollDeviceComprehensiveEfficiency">

                select id,
                create_time,
                create_user,
                create_user_name,
                update_time,
                update_user,
                update_user_name,
                tenancy_id,
                current_date_int, device_id, device_code, device_name, device_type_id, device_type_name, device_model_id, device_model_name, factory_mode_id,
                    factory_mode_code, factory_mode_name, shift_id, shift_name,
                    sum(ifnull(idle_duration_day, 0)) idle_duration_day,
                    sum(ifnull(running_duration_day, 0)) running_duration_day,
                    sum(ifnull(fault_duration_day, 0)) fault_duration_day,
                    sum(ifnull(shutdown_duration_day, 0)) shutdown_duration_day,
                     sum(ifnull(load_time, 0)) load_time ,
                        sum(ifnull(shift_total_hour, 0)) shift_total_hour ,
                        sum(ifnull(yield, 0)) yield,
                        sum(ifnull(warn_record_count, 0)) warn_record_count
                from (
                SELECT
                id,
                create_time,
                create_user,
                create_user_name,
                update_time,
                update_user,
                update_user_name,
                tenancy_id,
                current_date_int, device_id, device_code, device_name, device_type_id, device_type_name, device_model_id, device_model_name, factory_mode_id,
                factory_mode_code, factory_mode_name, shift_id, shift_name,
                idle_duration_day,running_duration_day,fault_duration_day,shutdown_duration_day,

                   sum(ifnull(load_time, 0)) load_time ,
                        sum(ifnull(shift_total_hour, 0)) shift_total_hour ,
                        sum(ifnull(yield, 0)) yield,
                        sum(ifnull(warn_record_count, 0)) warn_record_count,

                ROW_NUMBER() OVER (PARTITION BY device_id, current_date_int ORDER BY shift_id) AS rn
                FROM coll_device_comprehensive_efficiency
                ${ew.customSqlSegment}
                ) AS subquery
                WHERE rn = 1
                GROUP BY device_id

    </select>
</mapper>
